@{
	//
}

<div class="container py-3 d-flex flex-column flex-sm-row justify-content-around align-items-center align-items-sm-start gap-3">
	<!-- Small menu -->
	<div class="p-2">
		<h5 class="display-5">Menu</h5>
		<ul class="nav flex-column">
			<li class="nav-item">
				<a asp-controller="Home" asp-action="Index" class="nav-link link-light">Home</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Home" asp-action="About" class="nav-link link-light">About</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Home" asp-action="Menu" class="nav-link link-light">Menu</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Home" asp-action="Contact" class="nav-link link-light">Contact</a>
			</li>
		</ul>
	</div>
	<!-- Socials -->
	<div class="p-2">
		<h5 class="display-5">Socials</h5>
		<ul class="nav flex-column">
			<li class="nav-item">
				<a href="#" class="nav-link link-light">Facebook</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link link-light">Instagram</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link link-light">Twitter</a>
			</li>
		</ul>
	</div>
</div>
