@{
	ViewData["Title"] = "About";
}

<h1 class="display-1">@ViewData["Title"]</h1>

<div class="row row-cols-1 row-cols-md-2">
	<div class="col text-md-start">
		<div class="d-flex flex-column justify-content-center h-100">
			<p class="text-wrap">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
			<p class="text-wrap">
				In aliquam sem fringilla ut morbi tincidunt. Dictum varius duis at consectetur lorem donec massa sapien faucibus.
				Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam.
			</p>
		</div>
	</div>
	<div class="col">
		<img src="~/Images/AdobeStock_410845622.jpeg" alt="Image" class="img-fluid bo-scroll-target bo-scroll-slide-right" />
	</div>
</div>

<ul>
	<li>History??</li>
	<li>Location??</li>
	<li>Picture carousel??</li>
</ul>

<!--<div class="bo-data" data-test="921Test">_test</div>-->