@{
	ViewData["Title"] = "Index";
}

<!-- Banner -->
<div class="bo-index-banner p-2 d-flex flex-row justify-content-center align-items-center text-light mb-5">
	<h1 class="display-1">_banner</h1>
</div>

<div class="container mb-5 text-center">
	<h1 class="display-1">Index</h1>
</div>

<div class="container d-flex flex-column flex-sm-row p-2 mb-5 border-top border-bottom">
	<div class="flex-grow-1 flex-shrink-1 p-2">
		<i>
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
		</i>
		<p class="text-center">
			<i class="bi-star-fill text-warning fw-bold fs-3"></i>
			<i class="bi-star-fill text-warning fw-bold fs-3"></i>
			<i class="bi-star-fill text-warning fw-bold fs-3"></i>
			<i class="bi-star-fill text-warning fw-bold fs-3"></i>
			<i class="bi-star-fill text-warning fw-bold fs-3"></i>
		</p>
	</div>

	<div class="flex-grow-1 flex-shrink-1 p-2">
		<i>
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
		</i>
		<p class="text-center">
			<i class="bi-star-fill text-warning fw-bold fs-3"></i>
			<i class="bi-star-fill text-warning fw-bold fs-3"></i>
			<i class="bi-star-fill text-warning fw-bold fs-3"></i>
			<i class="bi-star-fill text-warning fw-bold fs-3"></i>
		</p>
	</div>
</div>

<div class="d-flex flex-column flex-sm-row bg-light rounded-3 mb-4 bo-scroll-target bo-scroll-slide-left">
	<img src="~/Images/AdobeStock_413168773.jpeg" alt="Food image" class="w-25 h-auto d-block mx-auto" />
	<div class="d-flex flex-column justify-content-center align-items-start p-2">
		<h5 class="display-5">Header</h5>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum quis augue vel rhoncus.
			Curabitur in vulputate neque. Mauris a nisl sapien. Praesent eu tellus non arcu congue placerat.
		</p>
	</div>
</div>

<div class="d-flex flex-column-reverse flex-sm-row bg-light rounded-3 mb-4 bo-scroll-target bo-scroll-slide-right">
	<div class="d-flex flex-column justify-content-center align-items-start p-2">
		<h5 class="display-5">Header</h5>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum quis augue vel rhoncus.
			Curabitur in vulputate neque. Mauris a nisl sapien. Praesent eu tellus non arcu congue placerat.
		</p>
	</div>
	<img src="~/Images/AdobeStock_294195456.jpeg" alt="Food image" class="w-50 h-auto d-block mx-auto" />
</div>

<div class="d-flex flex-column flex-sm-row bg-light rounded-3 mb-4 bo-scroll-target bo-scroll-slide-left">
	<img src="~/Images/AdobeStock_221292510.jpeg" alt="Food image" class="w-25 h-auto d-block mx-auto" />
	<div class="d-flex flex-column justify-content-center align-items-start p-2">
		<h5 class="display-5">Header</h5>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum quis augue vel rhoncus.
			Curabitur in vulputate neque. Mauris a nisl sapien. Praesent eu tellus non arcu congue placerat.
		</p>
	</div>
</div>