@charset "utf-8";

@keyframes AnimFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes AnimSlideIn {
    from {
        top: -100%;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

:root {
}

*, *::before, *::after {
    scroll-behavior: smooth;
}

body {
    background-color: white; /* Fallback */
    background-image: url("Images/AdobeStock_274849477.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bo-navbar {
    background-color: transparent;
    backdrop-filter: blur(20px);
    transition: background-color 0.5s;
}

    .bo-navbar:hover {
        background-color: rgb(25, 25, 25, 5%);
    }

.bo-index-banner {
    background-color: white; /* Fallback color */
    background-image: url("Images/AdobeStock_407822327.jpeg");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    overflow: hidden;
}

.bo-banner-txt {
    opacity: 0;
    position: relative;
    width: 100%;
    text-align: center;
    animation-name: AnimSlideIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.bo-fade-in {
    animation-name: AnimFadeIn;
    animation-delay: 0;
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.bo-scroll-target {
}

    .bo-scroll-target > img {
        min-width: 30%;
        max-width: 50%;
        height: auto;
        object-fit: contain;
        display: block;
        margin: 0 auto;
    }

.bo-scroll-slide-right {
    opacity: 0;
    position: relative;
    right: -50%;
    transition: right 1s, opacity 1s;
}

    .bo-scroll-slide-right.show {
        right: 0;
        opacity: 1;
    }

.bo-scroll-slide-left {
    opacity: 0;
    position: relative;
    left: -50%;
    transition: left 1s, opacity 1s;
}

    .bo-scroll-slide-left.show {
        left: 0;
        opacity: 1;
    }

[class*="bo-img-mask-"] {
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    object-fit: contain;
}

.bo-img-mask-box {
    -webkit-mask-image: url("Images/AdobeStock_489858118_edit.png");    
    mask-image: url("Images/AdobeStock_489858118_edit.png");    
}

.bo-img-mask-round {
    -webkit-mask-image: url("Images/AdobeStock_489858230_edit.png");
    mask-image: url("Images/AdobeStock_489858230_edit.png");
}

.bo-img-mask-blob {
    -webkit-mask-image: url("Images/blob-haikei.png");
    mask-image: url("Images/blob-haikei.png");
}